In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 
plt.style.use('ggplot')

df = pd.read_csv('../data/cleaned_data.csv')

In [2]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [5]:
def check_for_nulls(df, columns):
    '''
    Checks for null values inside of a dataset and will tell you how many nulls
    are in each column.

    ARGS:
        df - dataframe
        columns - index of columns
    RETURN:
        Print statement with columns listed that have null values if there are any.
    '''
    true_values = {}
    for col in columns:
        true_values[col] = df[col].isnull().sum()
    return true_values

In [3]:
result = df[df['Publisher'] != 'Unknown'].head(20000)
new_df = result[result['Year'] != 0].head(20000)
new_df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [11]:
is_NaN = df.isnull()
row_has_NaN = is_NaN.any(axis=1)
rows_with_NaN = df[row_has_NaN]

In [76]:
df[df['Publisher'].str.contains('Sega')]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
85,86,Mario & Sonic at the Olympic Games,Wii,2007.0,Sports,Sega,2.58,3.90,0.66,0.91,8.06
143,144,Sonic the Hedgehog 2,GEN,1992.0,Platform,Sega,4.47,1.20,0.16,0.19,6.03
189,190,Mario & Sonic at the Olympic Games,DS,2008.0,Sports,Sega,1.64,2.48,0.44,0.58,5.14
233,234,Mario & Sonic at the Olympic Winter Games,Wii,2009.0,Sports,Sega,1.89,1.99,0.22,0.48,4.58
254,255,Sonic the Hedgehog,GEN,1991.0,Platform,Sega,3.03,0.91,0.26,0.13,4.34
...,...,...,...,...,...,...,...,...,...,...,...
16306,16309,Full Auto 2: Battlelines,PSP,2007.0,Racing,Sega,0.00,0.01,0.00,0.00,0.01
16351,16354,World Snooker Challenge 2005,PSP,2005.0,Sports,Sega,0.00,0.01,0.00,0.00,0.01
16390,16393,World Snooker Championship 2007,X360,2007.0,Sports,Sega,0.00,0.01,0.00,0.00,0.01
16408,16411,Sega Rally Revo,PC,2007.0,Racing,Sega,0.00,0.01,0.00,0.00,0.01
16525,16528,Blazer Drive,DS,2008.0,Role-Playing,Sega,0.00,0.00,0.01,0.00,0.01

In [29]:
def replace_null_values(df, column, phrase):
    '''
    Allows you to replace the null values inside of a column with whatever you would like.

    ARGS:
        df- dataframe
        column - dataframe column name as str
        phrase - string
    RETURNS:
        dataframe with null values inside of column replaced
    '''
    df = df[column].fillna(phrase, inplace = True)

In [33]:
replace_null_values(df, 'Publisher', 'Unknown')